<turbo-stream action="append" target="alert">
	<template>
		<div id="toast-error" class="toast-top toast-end toast">
			<div class="alert alert-error shadow-lg">
				<i class="fa-solid fa-circle-xmark"></i>
				<span>{{ message }}</span>
				<button class="btn btn-sm btn-circle btn-ghost" onclick="closeToast()">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>
		</div>
	</template>
</turbo-stream>
