<turbo-stream action="prepend" target="tabresultsTableBody">
	<template>
		<tr>
			<td>{{ document.nom }}</td>
			<td class="text-center">
				{% if document.statut is not null %}
					{% if document.statut.id == 1 %}
						<i class="fa-solid fa-lg fa-circle-check text-success"></i>
					{% elseif document.statut.id == 2 %}
						<i class="fa-solid fa-lg fa-circle-exclamation text-warning"></i>
					{% else %}
						<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
					{% endif %}
				{% else %}
					<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
				{% endif %}
			</td>
			<td>
				{{ document.typeLivrable.nom }}
			</td>
			<td>
				{% if document.statut is not null %}
					<button class="btn btn-primary {% if document.statut.id == 6 %} btn-disabled {% endif %}" onclick="openVoirControlesModal({{ document.id }})">
						<i class="fa-solid fa-lg fa-magnifying-glass"></i>
						Voir
					</button>
				{% endif %}
			</td>
		</tr>
	</template>
</turbo-stream>

<turbo-stream action="append" target="alert">
	<template>
		<div class="alert alert-success shadow-lg">
			<i class="fa-solid fa-circle-check"></i>
			<span>Document ajouté avec succès</span>
		</div>
	</template>
</turbo-stream>
