{% extends 'base.html.twig' %}


{% block body %}

	<div class="flex justify-center">
		<turbo-frame id="document-frame" src="{{ url('document_form') }}" loading="lazy">
			<div class="skeleton w-80 h-64"></div>
		</turbo-frame>
	</div>

	<div class="flex justify-center">
		<div class="m-5 w-1/2">
			<table id="resultsTable" class="table">
				<thead>
					<tr>
						<th>Id bénéficiaire</th>
						<th>État</th>
						<th>Type de document</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for document in documents %}
						<tr>
							<td>{{ document.id }}</td>
							<td>
								{% if document.status == 1 %}
									<i class="fa-solid fa-circle-check text-success"></i>
								{% elseif document.statut == 2 %}
									<i class="fa-solid fa-circle-exclamation text-warning"></i>
								{% else %}
									<i class="fa-solid fa-circle-xmark text-error"></i>
								{% endif %}
							</td>
							<td>
								{{ document.typeLivrable }}
							</td>
							<td>
								<button class="btn btn-primary">
									<i class="fa-solid fa-magnifying-glass"></i>
									Voir
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
