@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(31.56% 0.0033 345.42);
  --color-primary: oklch(67.21% 0.1765 40.98);
  --color-primary-content: oklch(31.56% 0.0033 345.42);
  --color-secondary: oklch(31.56% 0.0033 345.42);
  --color-secondary-content: oklch(88.53% 0 0);
  --color-accent: oklch(86.87% 0.1746 111.67);
  --color-accent-content: oklch(31.56% 0.0033 345.42);
  --color-neutral: oklch(88.53% 0 0);
  --color-neutral-content: oklch(31.56% 0.0033 345.42);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(31.56% 0.0033 345.42);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(31.56% 0.0033 345.42);
  --color-warning: oklch(82.84% 0.1553 93.99);
  --color-warning-content: oklch(31.56% 0.0033 345.42);
  --color-error: oklch(53.29% 0.1885 24.75);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
